footer {
    .container {
        .footer-container {
            max-width: 1199px;
            border-radius: 70px;
            background: $main-color;

        }
        .footer_end {
            display: flex;
            align-items: flex-start;
            gap: 101px;
            margin-top: 700px;
            padding-bottom: 150px;
            margin-left: 150px;
        }
        .footer_end-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 18px;
        }
        .footer_end-block p {
            max-width: 393px;
            color: $items-color;
            font-family: 'Jost', sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.22px;
            padding-bottom: 31.5px;
        }
        .site {
            display: flex;
            max-width: 225px;
            align-items: center;
            gap: 54px;
        }
        .footer_end-block-menu-ul {
            display: flex;
            max-width: 125px;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
            flex-shrink: 0;
            list-style: none;
        }
        .footer_end-block-menu-ul {
            color: $main-color;
            font-family: 'DM Serif Display', serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
        }
        .footer_end-block-menu-ul-link {
            text-decoration: none;
            color: $items-color;
            font-family: 'Jost', sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 300%;
            letter-spacing: 0.22px;
        }
        .call {
            display: flex;
            max-width: 280px;
            flex-direction: column;
            align-items: flex-start;
            gap: 26px;
            flex-shrink: 0;
        }
        .call {
            color: $main-color;
            font-family: 'DM Serif Display', serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
        }
        .telephone {
            color: $items-color;
            font-family: 'Jost', sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 300%;
            letter-spacing: 0.22px;
            text-decoration: none;
        }
        .footer_end-span {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $items-color;
            font-family: 'Jost', sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.22px;
        }
    }
}